.moviesListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.moviesListContainer a {
    text-decoration: none;
    color: #020202;
}

.fadeIn{
    opacity:1;
    transition: opacity 1s 2s;

}
