.buttonForm {
    height: 100%;
    background: rgb(119, 177, 216);
    border: none;
    font-size: 16px;
    color: #ffffff;
    border-radius: 4px;
    padding: 0 30px;
    cursor: pointer;
    outline-color: rgb(119, 177, 216);
}